# This is a basic workflow to help you get started with Actions
name: publish

# Controls when the action will run.
on:
   schedule:
    - cron: "0 */12 * * *"
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  etl:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      - name: Set up JDK 15
        uses: actions/setup-java@v1
        with:
          java-version: 15

      - name: Download old DBs
        run: |
          wget https://github.com/jeqo/congreso-proyecto-ley/releases/download/proyectos-ley-hasta-2021/proyectos-ley-2021-db.tar.gz
          tar xf proyectos-ley-2021-db.tar.gz

      - name: Build project with Maven
        run: mvn clean compile

      - name: Run extraction
        run: mvn exec:java -D"exec.mainClass"="pe.gob.congreso.pl.Main"

  datasette:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v1
      - name: publishes to datasette
        uses: BSFishy/pip-action@v1
        with:
          packages: |
            datasette
            sqlite-utils
      - name: Set up Cloud SDK
        uses: google-github-actions/setup-gcloud@master
        with:
          project_id: ${{ secrets.GCP_PROJECT_ID }}
          service_account_key: ${{ secrets.GCP_SA_KEY }}
          export_default_credentials: true

      - name: Use gcloud CLI
        run: gcloud info
      - name: Set region
        run: gcloud config set run/region southamerica-east1

      - name: Deploy datasette
        run: |
          datasette publish cloudrun proyectos-ley-*.db --service=openpolitica-peru-congreso-proyectos-ley \
            --install datasette-vega \
            --install datasette-export-notebook \
            --install datasette-copyable \
            --install datasette-block-robots
